.TopNavigation {
    overflow: hidden;
    background-color: #46524c;
    position: sticky;
    top: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.TopNavigation ul {
    list-style-type: none;
}

.TopNavigation ul li {
    display: inline-block;
    padding: 10px 20px;
}

.TopNavigation ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.Content {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #dfeedb;
}

.Content button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Content h1 {
    font-size: 35px;
    color: #2a2918;
}

.Content h2 {
    font-size: 30px;
    color: #282d19;
}

.Content h3 {
    font-size: 25px;
    color: #251f2e;
}

.TopItem {
    padding: 15px;
    background-color: #9f9e89;
    border-radius: 30px;
    margin: 20px;
}

.TopItem label, input, button {
    font-size: 20px;
}

.TopItemButton {
    padding: 5px;
    background-color: #9fd590;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #000000;
}

.SingleLineContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Item {
    background-color: #9eba96;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.Item h2 {
    font-size: 30px;
}

.Item p {
    font-size: 20px;
}

.LinkButton {
    padding: 5px;
    background-color: #d5cd90;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.LinkButton a {
    text-decoration: none;
    color: #000000;
}

.Description {
    color: #383838;
}

.Table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.Table th {
    background-color: #444e27;
    color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
}

.Table td {
    background-color: #9eba96;
    border: 1px solid #000000;
    padding: 10px;
}

.Table th, td {
    font-size: 20px;
}
